/* STYLING FOR MODALS */
/* @import 'modals.css'; */

.modal {
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms opacity ease-in;
}

.modal.visible {
    opacity: 1;
    pointer-events: auto;
}

html.modal-visible {
    overflow: hidden;
}

.modal-container {
    background-color: var(--bg-colour);
    border-radius: 15px;
    border: 2px solid var(--outline-colour);
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
}

/* CLIPBOARD FORM */

#clip-board-modal {
    height: 125px;
    width: 350px;
    padding: 10px;
}

.clip-board-form {
    flex-flow: column;
}

.clip-board-form .form-row {
    height: 50%;
    display: flex;
    justify-content: center;
}

.clip-board-form #title {
    width: 95%;
    font-size: 2rem;
    padding: 5px;
    border: none;
    background-color: var(--bg-colour);
}

.clip-board-form .buttons {
    gap: 10px;
}

button {
    width: 40%;
    font-size: 1rem;
    border: 1px solid var(--outline-colour);
    border-radius: 5px;
}

button[type='submit'] {
    background-color: var(--green);
}

.clip-board-form button[type='button'],
.task-form button[type='button'] {
    background-color: var(--red);
}


/* TASKS MODAL  */

#task-modal {
    height: 350px;
    width: 550px;
    padding: 10px;
}

.task-form {
    flex-flow: column;
}

#task-title {
    width: 100%;
    font-size: 2rem;
    padding: 5px;
    border: none;
    background-color: var(--bg-colour);
}

.date-priority-row {
    display: flex;
    justify-content: space-around;
}

.date-priority-row div {
    display: flex;
    gap: 10px;
}

#task-description {
    width: 100%;
    font-size: 1rem;
    resize: none;
    border: none;
    background-color: var(--bg-colour);
}

.task-form .buttons {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.task-form button {
    height: 100%;
    width: 45%;
}